// Selection of color palettes
$red: #F84646;
$black: #000000;
$white: #FFFFFF;
$sm-white: #E5E5E5;
$gray: #F4F5F7;

// icon list-events section
$pink: #FF5391;
$icon2: #7553FF;
$icon3: #53C1FF;
$icon4: #53ACFF;
$icon5: #FF5353;
$icon6: #FFBA53;
